@charset "UTF-8";

$red: #da3333;
$blue: #5cccfc;
$hole: #6a6a6a;
$black: #333;
$white: #eee;

@for $i from -100 through 100 {
  $value: $i * 90deg;

  .Rotate#{$i} {
    transform: rotate($value);
  }
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  &--End {
    position: relative;

    &::after {
      background-color: rgba($hole, 0.4);
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10000;
    }
  }
}

.EndGame {
  align-items: center;
  color: blue;
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 800;
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 100000;
}
.Boards {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 180px 180px;
  grid-template-rows: 180px 180px;
}

.Board {
  position: relative;
}

.Board__Item {
  background-color: $red;
  border-radius: 5px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  transition: 1s;
}

.Arrow {
  position: absolute; /*ボックスの位置指定 */
  width: 40px; /* ボックスの横幅を指定する */
  height: 20px; /* ボックスの高さを指定する */
  background: $blue; /* ボックスの背景色を指定する */

  &--Type {
    &-1-1 {
      transform: rotate(330deg);
      top: -40px;
      left: 40px;
    }

    &-1-2 {
      transform: rotate(110deg);
      top: 50px;
      left: -50px;
    }

    &-2-1 {
      transform: rotate(70deg);
      top: 50px;
      right: -50px;
    }

    &-2-2 {
      transform: rotate(200deg);
      top: -40px;
      right: 40px;
    }

    &-3-1 {
      transform: rotate(250deg);
      bottom: 40px;
      left: -50px;
    }

    &-3-2 {
      transform: rotate(20deg);
      bottom: -40px;
      left: 40px;
    }

    &-4-1 {
      transform: rotate(160deg);
      bottom: -40px;
      right: 40px;
    }

    &-4-2 {
      transform: rotate(290deg);
      bottom: 40px;
      right: -50px;
    }
  }
}

.Arrow::after {
  position: absolute; /* 三角形の位置指定 */
  content: ""; /* 三角形のコンテンツ */
  top: -5px; /* 上部から配置の基準位置を決める */
  right: -30px; /* 右から配置の基準位置を決める */
  border: 15px solid; /* 境界線を指定する */
  border-color: transparent; /* 境界線の色をなしにする */
  border-left: 15px solid $blue; /* 境界線の上部を実線で指定する */
}

.Stone {
  align-items: center;
  display: flex;
  justify-content: center;

  &__Item {
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;

    &_None {
      background-color: #e03333;
      box-shadow: 0px 0px 5px 8px #d02222 inset;
    }

    &_Black {
      background-color: $black;
      box-shadow: 0px 0px 5px 8px #3a3a3a inset;
    }

    &_White {
      background-color: $white;
      box-shadow: 0px 0px 5px 10px #e0e0e0 inset;
    }
  }
}
